---
- name: Setting m_lock
  set_fact:
    m_lock_enabled: "{{ es_config['bootstrap.memory_lock'] }}"
  when:
    - es_config['bootstrap.memory_lock'] is defined

- name: Check default home path
  stat:
    path: '{{ default["es_home"] }}'
  register: default_home

- name: Move home path if redefined
  block:

    - name: Copy home to new destination
      synchronize:
        src: '{{ default["es_home"] }}/'
        dest: '{{ es_home }}/'
        recursive: True
      delegate_to: '{{ inventory_hostname }}'

    - name: Remove old destination
      file:
        path: '{{ default["es_home"] }}'
        state: absent

  become: True
  when:
    - es_home != default['es_home']
    - default_home.stat.exists

- block:

    - name: Remove default redefined paths
      file:
        path: '{{ default[es_path_item] }}'
        state: absent
      when: lookup('vars', es_path_item) != default[es_path_item]
      loop:
        - es_conf_dir
        - es_log_dir
        - es_pid_dir
        - es_data_dirs
      loop_control:
        loop_var: es_path_item

    - name: Create paths if absent
      file:
        path: '{{ default[es_path_item] }}'
        state: directory
        owner: '{{ es_user }}'
        group: '{{ es_group }}'
      loop:
        - es_conf_dir
        - es_log_dir
        - es_pid_dir
      loop_control:
        loop_var: es_path_item

    - name: Create data paths if absent
      file:
        path: '{{ es_datapath_item }}'
        state: directory
        owner: '{{ es_user }}'
        group: '{{ es_group }}'
      loop: '{{ es_data_dirs }}'
      loop_control:
        loop_var: es_datapath_item

    - name: Copy Configuration Files
      template:
        src: '{{ es_config_item }}.j2'
        dest: '{{ es_conf_dir }}/{{ es_config_item }}'
        owner: '{{ es_user }}'
        group: '{{ es_group }}'
        mode: 0644
        force: True
      notify: Restart elasticsearch
      loop:
        - elasticsearch.yml
        - jvm.options
        - log4j2.properties
      loop_control:
        loop_var: es_config_item

    - name: Copy Default File for Instance
      template:
        src: default/elasticsearch.j2
        dest: '{{ es_default_file }}'
        mode: 0644
        force: True
      notify: Restart elasticsearch

    - name: "Copy service configuration file"
      template:
        src: '{{ es_service_script }}.j2'
        dest: '{{ es_service_path }}/{{ es_service_script }}'
        mode: '{{ es_service_script_mode }}'
        force: True
      notify: '{{ es_service_handlers }}'

  become: True
