---
# Install and run elasticsearch

- name: Load a variable file based on the OS type, or a default if not found
  include_vars: '{{ platform_vars }}'
  with_first_found:
    - '{{ ansible_os_family }}.yml'
    - default.yml
  loop_control:
    loop_var: platform_vars

- name: Load a variable file based on the service manager
  include_vars: '{{ service_manager }}'
  with_first_found:
    - '{{ ansible_service_mgr }}.yml'
    - systemv.yml
  loop_control:
    loop_var: service_manager

- name: Configure and install packages for current OS
  include_tasks: '{{ platform_tasks }}'
  with_first_found:
    - 'system/{{ ansible_os_family }}.yml'
    - system/not-supported.yml
  loop_control:
    loop_var: platform_tasks

- name: Get the rpm or apt package facts
  package_facts:
    manager: auto

- name: Set elasticsearch version if not defined
  set_fact:
    es_version: '{{ ansible_facts.packages[es_package_name][0].version }}'
  when: es_version.find('.x') == 1

- debug:
    msg: 'elasticsearch version is {{ es_version }}'

- name: Correcting elasticsearch default settings
  include_tasks: es-settings.yml
  when: elasticsearch_set_settings

- name: Installing elasticsearch scripts
  include_tasks: add-scripts.yml
  when: elasticsearch_scripts_install

- name: Start elasticsearch
  service:
    name: elasticsearch
    state: started
    enabled: True
  become: True
