---
- block:
    - name: "Install ansible selinux configure libraries"
      package:
        name:
          - libselinux-python
          - policycoreutils-python
          - libsemanage-python
        state: present
      register: installed_package
      until: installed_package is succeeded

    - name: "Enable connections to HTTP port"
      seport:
        ports: '{{ elasticsearch_port }}'
        proto: tcp
        setype: http_port_t
        state: present
  become: True
  when:
    - ansible_selinux.status == "enabled"
    - ansible_selinux.mode != "disabled"
