---
- name: Reload systemd configuration
  systemd:
    daemon_reload: true
  become: true

- name: Restart elasticsearch
  service:
    name: elasticsearch
    state: restarted
  when:
    - es_restart_on_change
  become: true
