#!/bin/bash

DAYSAGO=`date --date="$1 days ago" +%Y%m%d`
INDICES=`/usr/bin/curl -s -XGET {{ elasticsearch_host }}:9200/_cat/indices?v`

echo
echo "THIS IS WHAT SHOULD BE DELETED FOR ELK:"
echo

echo "$INDICES" | while read LINE
do
  FORMATEDLINE=`echo $LINE | awk '{ print $3 }' | awk -F'-' '{ print $2 }' | sed 's/\.//g' ` 
  if [ "$FORMATEDLINE" -lt "$DAYSAGO" ] 2>/dev/null
  then
    TODELETE=`echo $LINE | awk '{ print $3 }'`
    echo "{{ elasticsearch_host }}:9200/$TODELETE"
  fi
done

echo
echo -n "if this make sence, Y to continue N to exit [Y/N]:"
read INPUT
if [ "$INPUT" == "Y" ] || [ "$INPUT" == "y" ] || [ "$INPUT" == "yes" ] || [ "$INPUT" == "YES" ]
then
  echo "$INDICES" | while read LINE
  do
     FORMATEDLINE=`echo $LINE | awk '{ print $3 }' | awk -F'-' '{ print $2 }' | sed 's/\.//g' ` 
  if [ "$FORMATEDLINE" -lt "$DAYSAGO" ] 2>/dev/null
  then
    TODELETE=`echo $LINE | awk '{ print $3 }'`
      /usr/bin/curl -XDELETE {{ elasticsearch_host }}:9200/$TODELETE >/dev/null 2>/dev/null
      sleep 1
      fi
  done
else 
  echo SCRIPT CLOSED BY USER, BYE ...
  echo
  exit
fi
