
{% if es_config is defined %}
{{ es_config | to_nice_yaml }}
{% endif %}

{% if es_config['cluster.name'] is not defined %}
cluster.name: elasticsearch
{% endif %}

{% if (es_version is version('7.0.0', '>')) and (es_config['cluster.initial_master_nodes'] is not defined) %}
cluster.initial_master_nodes: {{ elasticsearch_host }}
{% endif %}

{% if es_config['network.host'] is not defined %}
network.host: {{ elasticsearch_host }}
{% endif %}

#################################### Paths ####################################

# Path to directory containing configuration (this file and logging.yml):

path.data:
{{ es_data_dirs | to_nice_yaml(indent=2) }}

path.logs: {{ es_log_dir }}
