#!/bin/bash

if [ -z $1 ]; then 													
echo "Please, enter arguments:";
echo "show or delete";  
exit 1; 
fi

if [ $1 == "show" ] ; then
/usr/bin/curl -XGET {{ elasticsearch_host }}:9200/_cat/indices?v
fi

if [ $1 == "delete" ] ; then
/usr/bin/curl -XDELETE {{ elasticsearch_host }}:9200/_all >/dev/null 2>/dev/null
fi
